---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
import RichTextRenderer from "@storyblok/astro/RichTextRenderer.astro";
import { JSDOM } from 'jsdom';
import DOMPurify from 'dompurify';
import { marked } from 'marked';
import PageHeading from '../components/PageHeading.astro';
import SectionHeading from '../components/SectionHeading.astro';
import Pill from '../components/Pill.astro';

export interface Props {
	name: string;
	blok: object;
}

const { name, blok } = Astro.props
const window = new JSDOM('').window;
const purify = DOMPurify(window);

const lessonOverview = purify.sanitize(marked.parse(blok.lesson_overview))
const lessonObjectives = purify.sanitize(marked.parse(blok.lesson_objectives))
const essentialQuestions = purify.sanitize(marked.parse(blok.essential_questions))
const curriculumStandards = purify.sanitize(marked.parse(blok.curriculum_standards))

const body = renderRichText(blok.body)
---

<div {...storyblokEditable(blok)}>
  <header class="border-b-2 pb-6 mb-6 border-black/10 lg:flex lg:gap-10">
    <div class="lg:w-2/3">
      <PageHeading title={name} />
      <Pill className="ring-regal-900/10 bg-regal-900 text-white" title="Lesson plan" />
      {blok.learning_levels &&
        <div class="flex flex-wrap gap-1.5 mt-3">
          {blok.learning_levels.map(learning_level => (
            <Pill className="ring-gray-500/10 bg-gray-50 text-gray-600" title={learning_level} />
          ))}
        </div>
      }
    </div>
    <div class="lg:w-1/3">
      {blok.thumbnail &&
        <img
          class="block w-full"
          src={blok.thumbnail?.filename}
          alt={blok.thumbnail?.alt}
        />
      }
    </div>
  </header>

  <div>
    {lessonOverview &&
      <div class="prose">
        <Fragment set:html={lessonOverview}/>
      </div>
    }
    {lessonObjectives &&
      <SectionHeading title="Lesson objectives" />
      <div class="prose">
        <Fragment set:html={lessonObjectives}/>
      </div>
    }
    {essentialQuestions &&
      <SectionHeading title="Essential questions" />
      <div class="prose">
        <Fragment set:html={essentialQuestions}/>
      </div>
    }
    {curriculumStandards &&
      <SectionHeading title="Curriculum standards" />
      <div class="prose">
        <Fragment set:html={curriculumStandards}/>
      </div>
    }
    <div class="prose mt-6">
      <RichTextRenderer richTextData={blok.body} />
    </div>
  </div>
</div>